.fondo-crear-cuenta[b-3qcu1vsn59] {
    background-image: url('Images/pexels-pixabay-301614.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container[b-3qcu1vsn59] {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 400px;
    padding: 20px;
    background-color:rgba(255, 255, 255, 0.8);
    border-radius: 8px;
    box-shadow: 5px 5px 10px black;
}

.container h1[b-3qcu1vsn59]{
    text-align: center;
    padding: 0 0 20px 0;
    border-bottom: 1px solid black;
}


.container button[b-3qcu1vsn59] {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: 1px solid;
    border-radius: 25px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.container button:hover[b-3qcu1vsn59] {
    background-color: #0056b3;
}
