/* _content/GestionInventario/Components/Layout/MainLayout.razor.rz.scp.css */
.page[b-6iska017sb] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-6iska017sb] {
    flex: 1;
}

.sidebar[b-6iska017sb] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-6iska017sb] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-6iska017sb]  a, .top-row[b-6iska017sb]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row[b-6iska017sb]  a:hover, .top-row[b-6iska017sb]  .btn-link:hover {
        text-decoration: underline;
    }

    .top-row[b-6iska017sb]  a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row[b-6iska017sb] {
        justify-content: space-between;
    }

    .top-row[b-6iska017sb]  a, .top-row[b-6iska017sb]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-6iska017sb] {
        flex-direction: row;
    }

    .sidebar[b-6iska017sb] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-6iska017sb] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth[b-6iska017sb]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row[b-6iska017sb], article[b-6iska017sb] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}

#blazor-error-ui[b-6iska017sb] {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss[b-6iska017sb] {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }
/* _content/GestionInventario/Components/Layout/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-epe1eik5hn] {
    appearance: none;
    cursor: pointer;
    width: 3.5rem;
    height: 2.5rem;
    color: white;
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.1);
    background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") no-repeat center/1.75rem rgba(255, 255, 255, 0.1);
}

.navbar-toggler:checked[b-epe1eik5hn] {
    background-color: rgba(255, 255, 255, 0.5);
}

.top-row[b-epe1eik5hn] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-epe1eik5hn] {
    font-size: 1.1rem;
}

.bi[b-epe1eik5hn] {
    display: inline-block;
    position: relative;
    width: 1.25rem;
    height: 1.25rem;
    margin-right: 0.75rem;
    top: -1px;
    background-size: cover;
}

.bi-house-door-fill-nav-menu[b-epe1eik5hn] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-house-door-fill' viewBox='0 0 16 16'%3E%3Cpath d='M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5Z'/%3E%3C/svg%3E");
}

.bi-plus-square-fill-nav-menu[b-epe1eik5hn] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-plus-square-fill' viewBox='0 0 16 16'%3E%3Cpath d='M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6.5 4.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3a.5.5 0 0 1 1 0z'/%3E%3C/svg%3E");
}

.bi-list-nested-nav-menu[b-epe1eik5hn] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-list-nested' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M4.5 11.5A.5.5 0 0 1 5 11h10a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5zm-2-4A.5.5 0 0 1 3 7h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm-2-4A.5.5 0 0 1 1 3h10a.5.5 0 0 1 0 1H1a.5.5 0 0 1-.5-.5z'/%3E%3C/svg%3E");
}

.nav-item[b-epe1eik5hn] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-epe1eik5hn] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-epe1eik5hn] {
        padding-bottom: 1rem;
    }

    .nav-item[b-epe1eik5hn]  .nav-link {
        color: #d7d7d7;
        background: none;
        border: none;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
        width: 100%;
    }

.nav-item[b-epe1eik5hn]  a.active {
    background-color: rgba(255,255,255,0.37);
    color: white;
}

.nav-item[b-epe1eik5hn]  .nav-link:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

.nav-scrollable[b-epe1eik5hn] {
    display: none;
}

.navbar-toggler:checked ~ .nav-scrollable[b-epe1eik5hn] {
    display: block;
}

@media (min-width: 641px) {
    .navbar-toggler[b-epe1eik5hn] {
        display: none;
    }

    .nav-scrollable[b-epe1eik5hn] {
        /* Never collapse the sidebar for wide screens */
        display: block;

        /* Allow sidebar to scroll for tall menus */
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }
}


/* _content/GestionInventario/Components/Pages/CrearCuenta.razor.rz.scp.css */
.fondo-crear-cuenta[b-3qcu1vsn59] {
    background-image: url('Images/pexels-pixabay-301614.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container[b-3qcu1vsn59] {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 400px;
    padding: 20px;
    background-color:rgba(255, 255, 255, 0.8);
    border-radius: 8px;
    box-shadow: 5px 5px 10px black;
}

.container h1[b-3qcu1vsn59]{
    text-align: center;
    padding: 0 0 20px 0;
    border-bottom: 1px solid black;
}


.container button[b-3qcu1vsn59] {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: 1px solid;
    border-radius: 25px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.container button:hover[b-3qcu1vsn59] {
    background-color: #0056b3;
}
/* _content/GestionInventario/Components/Pages/GestionProducto.razor.rz.scp.css */
.buscar[b-mra3e7z1ny] {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 15px; 
}

.input-adaptable[b-mra3e7z1ny] {

    height: 40px;

}


.btn-primary[b-mra3e7z1ny] {

    font-size: 15px;
    font-weight: bold;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    height: 30px; 
    transition: background-color 0.3s;
}

.btn-primary:hover[b-mra3e7z1ny] {
    background-color: #0056b3; 
}

.boton[b-mra3e7z1ny] {
    display: flex;
    justify-content: flex-end; 
    margin-top: 20px; 
}


.custom-table[b-mra3e7z1ny] {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    font-family: Arial, sans-serif;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.custom-table thead th[b-mra3e7z1ny] {
    background-color: #007bff; 
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    padding: 12px;
    font-size: 0.9em;
}



.custom-table tbody tr:hover[b-mra3e7z1ny] {
    background-color: #e9ecef;
}


.custom-table th[b-mra3e7z1ny],
.custom-table td[b-mra3e7z1ny] {
    padding: 10px;
    border: 1px solid #dee2e6; 
}



.custom-table .btn[b-mra3e7z1ny] {
    padding: 6px 12px;
    font-size: 0.9em;
    font-weight: bold;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}


.custom-table .modify-btn[b-mra3e7z1ny] {
    background-color: #ffc107;
}

.custom-table .modify-btn:hover[b-mra3e7z1ny] {
    background-color: #e0a800;
}


.custom-table .delete-btn[b-mra3e7z1ny] {
    background-color: #dc3545; 
}

.custom-table .delete-btn:hover[b-mra3e7z1ny] {
    background-color: #c82333; 
}


/* _content/GestionInventario/Components/Pages/IniciarSesion.razor.rz.scp.css */
.fondo-crear-cuenta[b-wnzrv5aqtn] {
    background-image: url('Images/pexels-pixabay-301614.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container[b-wnzrv5aqtn] {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 400px;
    padding: 20px;
    background-color:rgba(255, 255, 255, 0.8);
    border-radius: 8px;
    box-shadow: 5px 5px 10px black;
}

.container h1[b-wnzrv5aqtn]{
    text-align: center;
    padding: 0 0 20px 0;
    border-bottom: 1px solid black;
}


.container button[b-wnzrv5aqtn] {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: 1px solid;
    border-radius: 25px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.container button:hover[b-wnzrv5aqtn] {
    background-color: #0056b3;
}
