.buscar {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 15px; 
}

.input-adaptable {

    height: 40px;

}


.btn-primary {

    font-size: 15px;
    font-weight: bold;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    height: 30px; 
    transition: background-color 0.3s;
}

.btn-primary:hover {
    background-color: #0056b3; 
}

.boton {
    display: flex;
    justify-content: flex-end; 
    margin-top: 20px; 
}


.custom-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    font-family: Arial, sans-serif;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.custom-table thead th {
    background-color: #007bff; 
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    padding: 12px;
    font-size: 0.9em;
}



.custom-table tbody tr:hover {
    background-color: #e9ecef;
}


.custom-table th,
.custom-table td {
    padding: 10px;
    border: 1px solid #dee2e6; 
}



.custom-table .btn {
    padding: 6px 12px;
    font-size: 0.9em;
    font-weight: bold;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}


.custom-table .modify-btn {
    background-color: #ffc107;
}

.custom-table .modify-btn:hover {
    background-color: #e0a800;
}


.custom-table .delete-btn {
    background-color: #dc3545; 
}

.custom-table .delete-btn:hover {
    background-color: #c82333; 
}


